@import "src/style.scss";

.navbar {
  .navbar-link {
    color: $color-red;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .cart {
    margin: 0 0.3rem 0 auto;
    background: white;
    position: relative;
    height: 30px;
    width: 38px;

    .cart-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.5rem;
      color: $color-red;
    }

    .cart-counter {
      position: absolute;
      top: 33%;
      left: 53%;
      transform: translate(-50%, -50%);
      font-weight: bold;
      font-size: 0.8rem;
      color: white;
      z-index: 100;
    }
  }
}
