@import "src/style.scss";

.navbar {
  .navbar-link {
    color: $color-red;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .cart {
    margin-left: 87%;
    background-color: $color-red;
  }
}
