@import "src/style.scss";

.product-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  .product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 708px;
    margin: 2rem;
    border-bottom: 1px solid #e6e6e6;

    .price-title {
      font-weight: bold;
    }
  }
}

.title-product-list {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: $color-red;
  text-transform: uppercase;
  margin: 1rem 0 1rem 0;
}
