@import "src/style.scss";

.product-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 350px;

  .product-details-img-btn {
    display: flex;
    flex-direction: column;
    align-items: center;

    .image-detail {
      width: 300px;
      margin: 2rem;
    }
    .add-cart-btn-details {
      border-color: #230303;
      background-color: $color-red;
    }
  }

  .list-group {
    display: block;
    width: 50%;
    margin: 32px;

    .title-details {
      font-size: 1.5rem;
      font-weight: bold;
    }
    .rate-details {
      display: flex;
      flex-direction: row;
      justify-content: left;

      :first-child {
        margin-right: 4px;
      }
    }
    .price-details {
      font-size: 1.2rem;
      color: black;
    }
  }
}
